

@media only screen and (max-width: 1600px) {
  .image{
    width: 35%;
  }
  
  .title {
    width: 60%;
  }
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 18px;
  }

  .image{
    width: 40%;
  }
  
  .title {
    width: 65%;
  }

  section::before {
    width: 25%;
    height: 3px;
    margin: 35px 0;
  }

}

@media only screen and (max-width: 1023px) {
  html {
    font-size: 16px;
  }

  section::before {
    width: 30%;
    margin: 30px 0;
  }

  .title {
    width: 75%;
  }

  p {
    font-size: 110%;
  }
}

@media only screen and (max-width: 767px) {
  p {
    line-height: 130%;
  }

  .title {
    width: 80%;
  }

  .image{
    width: 60%;
  }

  section::before {
    width: 45%;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}